# Infraestructura blindada
/.github/workflows/  @JuanJesusRodriguezArellano
/docker-compose.yml   @JuanJesusRodriguezArellano
/backend/docker/      @JuanJesusRodriguezArellano
/frontend/docker/     @JuanJesusRodriguezArellano
