# Infraestructura blindada
/.github/workflows/  @TU_USUARIO_DE_GITHUB
/docker-compose.yml   @TU_USUARIO_DE_GITHUB
/backend/docker/      @TU_USUARIO_DE_GITHUB
/frontend/docker/     @TU_USUARIO_DE_GITHUB
